---
import Section from "@common/Section.astro";
import SectionTitle from "@common/SectionTitle.astro";
import Container from "@common/Container.astro";
import FaqList from "./FaqList.astro";
---

<Section background="primary" id="faq">
  <Container>
    <SectionTitle>Preguntas Frecuentes Sobre Despido Injustificado y Derechos Laborales en México</SectionTitle>
    <FaqList />
  </Container>
</Section>
