---
import Section from "@common/Section.astro";
import SectionTitle from "@common/SectionTitle.astro";
import Container from "@common/Container.astro";
import { ReviewsContainer } from "./ReviewsContainer";
---

<Section background="secondary" id="success-stories">
  <Container>
    <SectionTitle align="center">Casos de Éxito Reales: Clientes que Recuperaron Su Liquidación en CDMX</SectionTitle>
    <ReviewsContainer client:visible />
  </Container>
</Section>
