---
import Button from "@common/Button.astro";
---

<div class="gm_header-content">
  <p class="gm_pill">
    Bufete de Abogados Laboralistas en CDMX | +150 Casos Exitosos
  </p>
  <h1 class="gm_header-title">
    Abogados Especialistas en Despido Injustificado en Ciudad de México
  </h1>
  <p class="gm_header-text">
    ¿Fuiste despedido sin liquidación, finiquito o tus prestaciones completas?
    En GM Abogados Laboralistas te ayudamos a recuperar lo que te corresponde
    por ley. Con más de 150 casos exitosos en la Ciudad de México, somos tu
    mejor opción para reclamar tu indemnización laboral. Consulta inicial
    gratuita y sin compromiso.
  </p>
  <div class="gm_header-button">
    <Button
      itsA="link"
      href="#contact"
      ariaLabel="Agenda Tu Consulta Gratuita Ahora"
      >Agenda Tu Consulta Gratuita Ahora</Button
    >
  </div>
</div>

<style>
  .gm_header-content {
    animation: reveal 400ms ease-in-out;

    @media screen and (width >= 768px) {
      flex: 2;
      max-width: 50rem;
    }

    @media screen and (width >= 1200px) {
      max-width: 56rem;
    }
  }

  .gm_pill {
    background-color: rgba(31, 59, 90, 0.1);
    display: inline-block;
    font-size: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 999px;
    color: var(--gm-primary);
    font-weight: 600;
    border: 2px solid rgba(255, 254, 254, 0.8);
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  .gm_header-title {
    font-family: var(--gm-family-title);
    color: var(--gm-title-text);
    font-size: 2rem;
    text-wrap: pretty;
    line-height: 1.2;
    margin-top: 1.5rem;
    font-weight: 700;

    @media screen and (width >= 768px) {
      font-size: 3rem;
    }

    @media screen and (width >= 1024px) {
      font-size: 4rem;
    }
  }

  .gm_header-text {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    font-weight: 500;
    line-height: 1.25;

    @media screen and (width >= 768px) {
      max-width: 42rem;
      font-size: 1.4rem;
    }
  }

  .gm_header-button {
    padding-top: 2rem;
  }
</style>
