<div class="gm_header-image">
  <div class="gm_header-image-background">
    <img
      src="/gm-logo.svg"
      class="gm_header-image-logo"
      alt="Logo de GM Abogados Laboralistas"
      width="112"
      height="112"
      loading="eager"
    />
    <img
      src="/images/profile.webp"
      alt="Lic. Jonathan Ian González Mora, Abogado Laboralista de GM Abogados en su despacho"
      class="gm_header-image-svg"
      width="400"
      height="600"
      loading="lazy"
    />
  </div>
</div>

<style>
  .gm_header-image {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-top: 5rem;
    background-image: url("../../assets/header_image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1.2;
    z-index: -1;

    animation: reveal 400ms ease-in-out;
    animation-delay: 100ms;
  }

  .gm_header-image-logo {
    width: 6rem;
    position: absolute;
    top: 0;
    left: 0.7rem;

    @media screen and (width >= 768px) {
      width: 7rem;
      left: 1rem;
    }
  }

  .gm_header-image-svg {
    position: absolute;
    height: 120%;
    top: -3rem;
    left: 0;
    transform: translateX(35%);
    display: block;
    z-index: 1;
    mask-image: linear-gradient(black 75%, transparent);

    @media screen and (width >= 768px) {
      height: 110%;
    }
  }
</style>
