---
import Button from "@components/common/Button.astro";
import Whatsapp from "@components/icons/Whatsapp.astro";
import NavLink from "./NavLink.astro";

import { gmLinks } from "@utils/index";
---

<div class="menu" id="menu">
  <div class="nav-links_container">
    <ul class="nav-links">
      <NavLink href="#do-you-identify">Tu Situación</NavLink>
      <NavLink href="#services">Servicios</NavLink>
      <NavLink href="#faq">Preguntas Frecuentes</NavLink>
      <NavLink href="#success-stories">Casos de Éxito</NavLink>
    </ul>
  </div>
  <div class="cta-button">
    <a
      class="gm_nav-whats"
      href={gmLinks.whatsapp}
      aria-label="Boton para enviar mensaje de Whatsapp al Lic. Gonzalez"
      target="_blank"
    >
      <Whatsapp />
    </a>
    <Button itsA="link" href="#contact">Contáctanos</Button>
  </div>
</div>

<style>
  .menu {
    background-color: var(--gm-bg);
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem 1.25rem;
    gap: 1.5rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease;
    z-index: 20;

    @media screen and (width >= 1100px) {
      opacity: 1;
      min-height: auto;
      flex-direction: row;
      pointer-events: auto;
      position: static;
      padding: 0;
      align-self: center;
      justify-self: center;
      width: fit-content;
      flex: 1;
      background-color: transparent;
    }
  }

  .menu.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-links_container {
    z-index: 20;

    @media screen and (width >= 1100px) {
      display: flex;
      flex: 1;
      justify-content: center;
      background-color: transparent;
    }
  }

  .nav-links {
    background-color: var(--gm-bg-secondary);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1.2rem 1rem;
    color: var(--gm-title-text);
    list-style: none;
    margin: 0;
    z-index: 20;

    @media screen and (width >= 1100px) {
      flex-direction: row;
      gap: 2.8rem;
      justify-content: center;
      padding: 0.7rem 2rem;
      border-radius: 999px;
      border: 3px solid var(--gm-bg-secondary);
      backdrop-filter: blur(6px);
      background-color: rgba(255, 255, 255, 0.6);

      justify-self: center;
    }
  }

  .cta-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

    @media screen and (width >= 1024px) {
      justify-content: safe;
    }

    .gm_nav-whats {
      background: var(--gm-accent-gradient);
      height: 3.688rem;
      aspect-ratio: 1/1;
      border-radius: 999px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--gm-bg-secondary);

      scale: 1.04;
      transition: scale 150ms ease-in-out;

      &:hover {
        scale: 1.1;
      }

      &:active {
        scale: 1;
      }
    }
  }
</style>

<script>
  // Toggle menu visibility on nav icon click
  const $navMenu = document.querySelector("#nav-icon");
  const $menu = document.querySelector("#menu");
  $navMenu?.addEventListener("click", () => {
    const menuIsOpen = ($navMenu as HTMLElement).classList.contains("open");
    $menu?.classList.toggle("visible", !menuIsOpen);
  });

  // Close menu on link click (for mobile)
  const $navLinks = document.querySelectorAll(".nav-links a");
  $navLinks.forEach(($link) => {
    $link.addEventListener("click", () => {
      ($navMenu as HTMLElement).classList.remove("open");
      $menu?.classList.remove("visible");
    });
  });
</script>
